### Topic 4: Other Factors Affecting Frequency of Armed Conflict

#### 4.2: Geographical Factors

 nre measures may be used toeasreee gloallyb with relation to stwater scarcity
 Exploring precepittation , drought and temperatdrought conditions using ireure as inde

In [10]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import linregress
from functools import partial, reduce

In [14]:
# Collect water scarcity data from the Food and Agriculture Organization (FAO)
master_csv = pd.read_csv('Resources/master_data.csv')

#filter by selected date range 1980 - 2015
master_dates_df = master_csv[master_csv['Year'].between(1980,2015)]

master_dates_df

,Unnamed: 0,Year,Country,HDI,Pop Density,Wtr Stress,Tot Wtr Resource,FreshW Wdrl,Total Population,Total Withdrawl,Wtr Withdrawl,Event Number,Conflict Name,Hosility Level,Target Country,Homicides,Battle Deaths,Theft & Vandalism,PSI
24314,24314,1980.0,Afghanistan,0.0,19.126047,46.223790,0.0,17.121292,12486.631,17.121292,1371.169827,30.0,No Conflict,4.0,Pakistan,0.000000,0,0.0,0.000000
24315,24315,1980.0,Afghanistan,0.0,19.126047,46.223790,0.0,17.121292,12486.631,17.121292,1371.169827,33.0,No Conflict,4.0,Pakistan,0.000000,0,0.0,0.000000
24316,24316,1980.0,Afghanistan,0.0,19.126047,46.223790,0.0,17.121292,12486.631,17.121292,1371.169827,45.0,No Conflict,2.0,Pakistan,0.000000,0,0.0,0.000000
24317,24317,1980.0,Afghanistan,0.0,19.126047,46.223790,0.0,17.121292,12486.631,17.121292,1371.169827,30.0,No Conflict,4.0,Pakistan,0.000000,0,0.0,0.000000
24318,24318,1980.0,Afghanistan,0.0,19.126047,46.223790,0.0,17.121292,12486.631,17.121292,1371.169827,33.0,No Conflict,4.0,Pakistan,0.000000,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49427,49427,2015.0,World,0.0,0.000000,18.060000,0.0,3856.185980,7432664.552,3992.399524,537.142433,0.0,No Conflict,0.0,0,5.911969,0,0.0,0.000000
49428,49428,2015.0,Yemen,0.0,54.011677,169.761905,0.0,3.565000,28516.545,3.565000,125.015145,0.0,No Conflict,0.0,0,0.000000,0,0.0,0.000000
49429,49429,2015.0,"Yemen, Rep.",0.0,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.0,No Conflict,0.0,0,0.000000,7032,0.0,-2.668016
49430,49430,2015.0,Zambia,0.0,21.589176,2.835498,0.0,1.572000,16248.230,1.572000,96.749000,0.0,No Conflict,0.0,0,5.249803,0,0.0,0.144710
49431,49431,2015.0,Zimbabwe,0.0,36.224120,31.871949,1.5,3.395000,14154.937,3.395700,239.895098,0.0,No Conflict,0.0,0,0.000000,0,0.0,-0.619207

Pie Chart of Total Water
Bar Chart by Region
    Showing averages
Box chart comparing the different distributions per region

Line chart
    Precipitation by region (average) over the time period we are looking at
    Freshwater

Regressions

Aerage and range (error bars)
Average freshwater per capita ove the years
Correlation (as a rule need a .8 correlation to be predictive. over an 8 correlation then look at additive things) if two variable both at point 8 add them together and regress against the conflict might get up over 9)
conflct versus variable
Line chart (see if there's a trend)
region by variable (stacked bar chart to see if there is a variable that )
Heat alone has this corelation
linear regression for each

,Unnamed: 0,Year,Country,HDI,Pop Density,Wtr Stress,Tot Wtr Resource,FreshW Wdrl,Total Population,Total Withdrawl,Wtr Withdrawl,Event Number,Conflict Name,Hosility Level,Target Country,Homicides,Battle Deaths,Theft & Vandalism,PSI
24314,24314,1980.0,Afghanistan,0.0,19.126047,46.223790,0.0,17.121292,12486.631,17.121292,1371.169827,30.0,No Conflict,4.0,Pakistan,0.000000,0,0.0,0.000000
24315,24315,1980.0,Afghanistan,0.0,19.126047,46.223790,0.0,17.121292,12486.631,17.121292,1371.169827,33.0,No Conflict,4.0,Pakistan,0.000000,0,0.0,0.000000
24316,24316,1980.0,Afghanistan,0.0,19.126047,46.223790,0.0,17.121292,12486.631,17.121292,1371.169827,45.0,No Conflict,2.0,Pakistan,0.000000,0,0.0,0.000000
24317,24317,1980.0,Afghanistan,0.0,19.126047,46.223790,0.0,17.121292,12486.631,17.121292,1371.169827,30.0,No Conflict,4.0,Pakistan,0.000000,0,0.0,0.000000
24318,24318,1980.0,Afghanistan,0.0,19.126047,46.223790,0.0,17.121292,12486.631,17.121292,1371.169827,33.0,No Conflict,4.0,Pakistan,0.000000,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49427,49427,2015.0,World,0.0,0.000000,18.060000,0.0,3856.185980,7432664.552,3992.399524,537.142433,0.0,No Conflict,0.0,0,5.911969,0,0.0,0.000000
49428,49428,2015.0,Yemen,0.0,54.011677,169.761905,0.0,3.565000,28516.545,3.565000,125.015145,0.0,No Conflict,0.0,0,0.000000,0,0.0,0.000000
49429,49429,2015.0,"Yemen, Rep.",0.0,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.0,No Conflict,0.0,0,0.000000,7032,0.0,-2.668016
49430,49430,2015.0,Zambia,0.0,21.589176,2.835498,0.0,1.572000,16248.230,1.572000,96.749000,0.0,No Conflict,0.0,0,5.249803,0,0.0,0.144710
49431,49431,2015.0,Zimbabwe,0.0,36.224120,31.871949,1.5,3.395000,14154.937,3.395700,239.895098,0.0,No Conflict,0.0,0,0.000000,0,0.0,-0.619207

In [3]:
# Copy the dataframe with only the columns we want 
mie_df = mie_csv[['styear', 'ccode1', 'eventnum', 'micnum', 'hostlev', 'ccode2']].copy()

# Create a dictionary for the country codes and their names and the confrontation codes and their name
code_to_country = pd.Series(COW_Country_Codes.StateNme.values, index=COW_Country_Codes.CCode).to_dict()
conflict_name = pd.Series(micnames.micname.values, index= micnames.micnum).to_dict()

# Map the country codes to their names from the dictionary and replace
mie_df['ccode1'] = mie_df['ccode1'].map(code_to_country)
mie_df['ccode2'] = mie_df['ccode2'].map(code_to_country)
mie_df['micnum'] = mie_df['micnum'].map(conflict_name)

# Rename columns headers
mie_df_clean = mie_df.rename(columns={'styear': 'Year',
                                'ccode1': 'Country',
                                'ccode2': 'Target Country',
                                'eventnum': 'Event Number',
                                'micnum': 'Conflict Name',
                                'hostlev': 'Hosility Level'
                                })
# Display the clean dataframe
mie_df_clean.head()

,Year,Country,Event Number,Conflict Name,Hosility Level,Target Country
0,1902,United States of America,1,Alaska Boundary Dispute (1902),3,United Kingdom
1,1913,Austria-Hungary,1,Serbian and Austro-Hungarian Fighting over Alb...,2,Yugoslavia
2,1946,Albania,2,British Attempts to Pass the Albanian Corfu Ch...,4,United Kingdom
3,1946,United Kingdom,3,British Attempts to Pass the Albanian Corfu Ch...,3,Albania
4,1946,United Kingdom,4,British Attempts to Pass the Albanian Corfu Ch...,3,Albania

In [18]:
# Create stability dataframe from csv: set country as index, drop unused columns, stack the remaining columns, and reset the index
stability_df = stability_csv.set_index('Country Name').drop(columns=['Series Name', 'Series Code', 'Country Code']).stack().reset_index()

# Rename the column headers and replace null values ".." with 0
stability_df_clean = stability_df.rename(columns={'Country Name': 'Country',
                                                  'level_1': 'Year',
                                                  0: 'PSI'
                                                 }).replace('..', 0)

# Grab the first four values of the year column and convert to an integer
stability_df_clean['Year'] = stability_df_clean['Year'].str[0:4].astype(int)

# Display the clean dataframe
stability_df_clean.tail()

       Country  Year                 PSI
5131  Zimbabwe  2018  -0.721038401126862
5132  Zimbabwe  2019  -0.943286120891571
5133  Zimbabwe  2020   -1.05272817611694
5134  Zimbabwe  2021  -0.954425930976868
5135  Zimbabwe  2022  -0.884499907493591

In [21]:
# Write the new merged dataframe to a csv file
master_df.to_csv('Resources/master_data.csv')