In [ ]:
# Remove Duplicates
# Columns to be removed:
# sidea1
# action
# stmon
# stday
# endmonth
# endday
# endyear
# version
# VariableGroup
# SubGroup
# fatalmin1
# fatalmin2
# IsAggregate
# Symbol

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import linregress

In [18]:
aqua_csv = pd.read_csv('Resources/AQUASTAT Dissemination System.csv')
mie_csv = pd.read_csv('Resources/ua-mie-1.0.csv')
COW_Country_Codes = pd.read_csv('Resources/COW-country-codes.csv')
micnames = pd.read_csv('Resources/ua-micnames-1.0.csv')

In [19]:
code_to_country = pd.Series(COW_Country_Codes.StateNme.values, index=COW_Country_Codes.CCode).to_dict()

In [20]:
mie_csv['ccode1'] = mie_csv['ccode1'].map(code_to_country)
mie_csv['ccode2'] = mie_csv['ccode2'].map(code_to_country)
mie_csv.head()

,micnum,eventnum,ccode1,ccode2,stmon,stday,styear,endmon,endday,endyear,sidea1,action,hostlev,fatalmin1,fatalmax1,fatalmin2,fatalmax2,version
0,2,1,United States of America,United Kingdom,5,-9,1902,5,-9,1902,1,7,3,0,0,0,0,mie-1.0
1,3,1,Austria-Hungary,Yugoslavia,10,7,1913,10,7,1913,1,1,2,0,0,0,0,mie-1.0
2,4,2,Albania,United Kingdom,5,15,1946,5,15,1946,1,16,4,0,0,0,0,mie-1.0
3,4,3,United Kingdom,Albania,10,22,1946,10,22,1946,0,7,3,0,0,0,0,mie-1.0
4,4,4,United Kingdom,Albania,10,22,1946,10,22,1946,0,7,3,0,0,0,0,mie-1.0

In [21]:
mie_csv = mie_csv.rename(columns={'ccode1': 'Country'})
mie_csv = mie_csv.rename(columns={'ccode2': 'Target Country'})
aqua_csv = aqua_csv.rename(columns={'Area': 'Country'})
COW_Country_Codes = COW_Country_Codes.rename(columns={'StateNme':'Country'})
mie_csv = mie_csv.rename(columns={'styear': 'Year'})

In [22]:
conflict_name = pd.Series(micnames.micname.values, index= micnames.micnum).to_dict()

In [23]:
mie_csv['micnum'] = mie_csv['micnum'].map(conflict_name)
mie_csv.head()

,micnum,eventnum,Country,Target Country,stmon,stday,Year,endmon,endday,endyear,sidea1,action,hostlev,fatalmin1,fatalmax1,fatalmin2,fatalmax2,version
0,Alaska Boundary Dispute (1902),1,United States of America,United Kingdom,5,-9,1902,5,-9,1902,1,7,3,0,0,0,0,mie-1.0
1,Serbian and Austro-Hungarian Fighting over Alb...,1,Austria-Hungary,Yugoslavia,10,7,1913,10,7,1913,1,1,2,0,0,0,0,mie-1.0
2,British Attempts to Pass the Albanian Corfu Ch...,2,Albania,United Kingdom,5,15,1946,5,15,1946,1,16,4,0,0,0,0,mie-1.0
3,British Attempts to Pass the Albanian Corfu Ch...,3,United Kingdom,Albania,10,22,1946,10,22,1946,0,7,3,0,0,0,0,mie-1.0
4,British Attempts to Pass the Albanian Corfu Ch...,4,United Kingdom,Albania,10,22,1946,10,22,1946,0,7,3,0,0,0,0,mie-1.0

In [24]:
merged_df = pd.merge(mie_csv, aqua_csv, on=['Country', 'Year'])
merged_df.head()

,micnum,eventnum,Country,Target Country,stmon,stday,Year,endmon,endday,endyear,...,fatalmin2,fatalmax2,version,VariableGroup,Subgroup,Variable,Value,Unit,Symbol,IsAggregate
0,Thai-Cambodian-Vietnamese Border Conflict and ...,60,Thailand,Vietnam,2,1,1982,5,21,1982,...,0,0,mie-1.0,Water use,Pressure on water resources,SDG 6.4.1. Industrial Water Use Efficiency,18.344039,US$/m3,E,False
1,Thai-Cambodian-Vietnamese Border Conflict and ...,60,Thailand,Vietnam,2,1,1982,5,21,1982,...,0,0,mie-1.0,Water use,Pressure on water resources,SDG 6.4.1. Services Water Use Efficiency,44.622745,US$/m3,E,False
2,Thai-Cambodian-Vietnamese Border Conflict and ...,61,Thailand,Vietnam,2,1,1982,2,1,1982,...,1,1,mie-1.0,Water use,Pressure on water resources,SDG 6.4.1. Industrial Water Use Efficiency,18.344039,US$/m3,E,False
3,Thai-Cambodian-Vietnamese Border Conflict and ...,61,Thailand,Vietnam,2,1,1982,2,1,1982,...,1,1,mie-1.0,Water use,Pressure on water resources,SDG 6.4.1. Services Water Use Efficiency,44.622745,US$/m3,E,False
4,Thai-Cambodian-Vietnamese Border Conflict and ...,64,Thailand,Vietnam,1,-9,1983,1,-9,1983,...,0,0,mie-1.0,Water use,Pressure on water resources,SDG 6.4.1. Industrial Water Use Efficiency,19.513973,US$/m3,E,False

In [26]:
merged_df.to_csv('merged_df.csv')